.content-master {
  width: 32rem;
  margin: 5rem auto;
}

.title-black {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--section-title-white);
  margin-bottom: 2rem;
}
.secfive {
  margin-bottom: 5rem;
}
.secfive p {
  font-size: 1.6rem;
}

.secsix {
  margin-bottom: 5rem;
}
.secsix li {
  list-style: disc;
  font-size: 1.6rem;
  margin-left: 2rem;
  line-height: 2.7rem;
}

.secseven a{
  color: var(--text-white);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
}